body {
    background-color: darksalmon;
}

.parent .content {
    border: 5px solid #ccc;
}

.parent .content img {
    height: 365px;
}

.row .small img {
    height: 179px;
    border: 4px solid #b9b5b5;
    cursor: pointer;

}